<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<include resource="org/springframework/boot/logging/logback/defaults.xml" />
	
	<!-- The appName for this log settins -->
	<property name="appName" value="bootcamp" />
	
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
      		<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %X{requestId} %X{username} %X{ipAddress} %X{hostName} %X{session} %X{url} %logger{36} - %msg%n</pattern>
      		<charset>UTF-8</charset>
    	</encoder>
	</appender>
	
	<logger name="com.nttdata.bootcamp.TimeExecutionAspect" additivity="false">
		<appender-ref ref="CONSOLE" />
	</logger>
	
	<logger name="com.nttdata" level="off"/>
	
	<root level="DEBUG">
		<appender-ref ref="CONSOLE" />
	</root>
</configuration>